.stick{
    position: sticky;
    top: 0;
}
.outer_box{
    margin: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.blue_box{
    background-color: #2874A6;
    padding: 10px;
    color: white;
    text-align: center;
}

.info{
    padding: 10px;
}